APP_NAME=AUTOGEN-PLN
PRE_FORK=true
LOG_LEVEL=debug
WEB_PORT=9004
TIMEZONE=Asia/Jakarta

DB_MIGRATE=true
DB_USER=user
DB_PASS=pass
DB_HOST=dbHost
DB_NAME=dbName
DB_PORT=5432
DB_SSL_MODE=disable
DB_IDLE_CONN=5
DB_MAX_CONN=10
DB_MAX_LIFE=30
SECRET_KEY=secretKey
AES_SECRET=aesSecret
AES_PEPPER=aesPepper
NUMBER_BATCH=1000
ROW_MAX_LIMIT=300000
DELETED_DURATION_IN_HOUR=12

OTEL_ENDPOINT=localhost:4318
NEWS_API=dfsfdsakj
NEWS_CRON_EXPR=0 */6 * * *
